@font-face{
    font-family: Mukata;
    src: url("../img/Mukta-Medium.ttf");
}

body {
    padding: 0;
    margin: 0;
    font-family: Mukata;
    width: 100%;
    height: 100%;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none;
}

header {
    width: 100%;
    background-color: black;
    color:white;
    font-size: 70px;
    line-height: 120px;
} 



#logo {
    background-position: 50%;
    float: left;
    background-image: url("../img/logo.svg");
    background-attachment: initial;
    background-repeat: no-repeat; 
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: 15px;
    margin-left: 20px;
}


#logo:hover {
    cursor: pointer;
}

#profile_image {
    float: right;
    width: 70px;
    height: 70px;
    margin-top: 25px;
    margin-right: 30px;
}

#main{
    width: 100%;
    height: calc(100vh - 40px - 120px);
}

footer{
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    background: black;
    line-height: 40px;
}

#service_table {
    /*width: 700px;*/
    height: 500px;
    /*background: yellow;*/
    border: 2px solid black;
    clear: both;
    /*float: left;*/
}

#service_list_element{
    height: 554px;
    width: 700px;
    margin-top: 50px;
    margin-left: 10%;
    float: left;
}

[id^="search_"]{
    background: black;
    margin-bottom: 10px;
    float: right;
    margin-left: 20px;
}

#search_button{

    width: 35px;
    height: 35px;
    padding-top: 5px;
    padding-left: 5px;
}

#search_button:hover{
    cursor: pointer;
}

#search_text{
    border: none;
    border-bottom: 2px solid black;
    width: 170px;
    height: 35px;
    padding-left:10px;
    background: white;
    float: right;
    font-size: 18px;;
}

#search_text:focus{
    border: none;
    outline: none;
    border-bottom: 3px solid black;
    background:rgb(230, 230, 230);
}

#search_text:hover{
    border-bottom: 3px solid black;
}

#search_filter{
    height: 30px;
    color: white;
    padding: 5px 40px 5px 40px;
    font-size: 20px;
}

#search_filter:hover{
    cursor: pointer;
}

#table_header{
    background: black;
    height: 40px;
    /*width: 100%;*/
    color: white;
    line-height: 40px;
    font-size: 18px;
    padding-left: 30px;
    clear: both;
}

#table_header_date {
    float: left;
    width: 20%;
    text-align: center;
}

#table_header_mileage {
    float: left;
    width: 20%;
    text-align: center;
}


#table_header_description {
    float: left;
    width: 60%;
    text-align: center;
}


.row{
    height: 40px;
    /*width:100%;*/
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    line-height: 40px;
    padding-left: 30px;
    font-size: 18px;
}

.row #date {
    width: 20%;
    float: left;
    text-align: center;
}

.row #mileage {
    width: 20%;
    float: left;
    text-align: center;
}

.row #short_desc {
    width: 60%;
    float: left;
    text-align: center;
}

.row #description {
    display: none;
}

.row:hover{
    cursor: pointer;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.row:nth-child(2n){
    background: rgb(230, 230, 230);
}

#richer_description {
    width: 408px;
    height: 644px;
    
    float: right;
    margin-top: 50px;
    margin-right: 15%;
}

.description_button {
    float: right;
    background: black;
    color: white;
    height: 30px;
    padding: 5px 40px 5px 40px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 0;
}

.description_button:hover{
    cursor: pointer;
}

#add {
    /*width: 25px;*/
    padding: 7.5px 6px 2.5px 6px;
    position: relative;
    display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 80px;
}

input[type=number]:focus{
    outline: none;
}

input[type=date]{
    margin-right: 30px;
    margin-left:0;
    width: 130px;
}

input[type=date]:focus{
    outline: none;
}

#passive_mileage{
    display: inline-block;
}

#passive_date{
    display: inline-block;
    margin-right: 60px;
}

#date_input, #mileage_input {
    display: none;
}

#richer_description textarea {
    clear: both;
    border: 2px solid black;
    width: 384px;
    height: 440px;
    font-size: 18px;
    resize: none;
    display: none;
    padding: 10px;
   
}

#richer_description textarea:focus {
    /*border: 2px solid black;
    border-style: solid;*/
    outline: none;
    margin: 0;
}

.list{
    list-style-type: none;
    color: black;
    font-size: 18px;
    border: 2px solid black ;
    text-align: center;
    display: none;
    /*float: right;*/
    /*width: 70px;*/
    position: absolute;
    z-index: 1;
    background: white;
   /*right: 17px;
    top: 80px;*/
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

.list:hover {
    cursor:pointer;
}

#profile_list {
    right: 17px;
    top: 80px;
}


/*
#profile_list div:hover {
    background: rgb(230, 230, 230);
}*/

#profile_list span {
    display: block;
    text-align: center;
    padding: 5px 5px 5px 5px;
}


#add #add_text{
    left: 0;
    top: 40px;
}

#add_text span:after {
    height: 1px;
    width: 100%;
    position: absolute;
    transform: translateX(-49%);
    left: 49%;
    background: black;
    content: "";
    display: block;
}

.list span {
    display: block;
    text-align: center;
    padding: 0 5px 0 5px;
}

.list div:after {
    height: 1px;
    width: 100%;
    position: absolute;
    transform: translateX(-49%);
    left: 49%;
    background: black;
    content: "";
    display: block;
}

 .list span:hover {
    background: rgb(230, 230, 230);
}

#add:hover #add_text{
    display: block;
}

.sub_list{
    
    list-style-type: none;
    color: black;
    font-size: 18px;
    border: 2px solid black;
    display: none;
    text-align: center;
    position: absolute;
    background: white;
    margin:0;
    
    margin-top: -2px;
}

.sub_list span {
    padding-left: 5px;
    padding-right: 5px;
}

#passive_textarea {
    font-family: monospace;
    clear: both;
    border: 2px solid black;
    width: 384px;
    height: 440px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8.5px;
    padding: 10px;
    white-space: pre-line;
    display: block;
}

#add, #save {
    display: none;
}

@media only screen and (max-width: 520px){
    header{
        font-size: 50px;
    }

    footer{
        height: 25px;
        font-size: 10px;
        line-height: 25px;
    }

    #main{
        height: calc(100vh - 25px - 120px);
    }
    #logo{
        margin-top: 30px;
        height: 60px;
        width: 60px;
    }
}

@media only screen and (max-height: 600px){

    #main{
        height: 600px;
    }
}